# System files
.DS_Store
Thumbs.db

# Editor directories and files
.idea
.vscode

# Node
node_modules

# Build
build
out
dist
public


# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Custom scripts
bin
